*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #050505;
	background-position: top center;
	background-repeat: no-repeat;
}

.content{
	margin: auto;
	width: 960px;
	height: 883px;	
	font-family: tahoma;
}

.palm{
	margin: 57px 0 0 212px;
	opacity: 0.15;
}

.logo{
	margin: -76px 0 0 71px;
}

.slohan{
	margin: 0 0 0 155px;
	color: #e6e6e6;
	font-size: 10.16px;
}

.contacts{
	margin: -32px 87px 0 0;
	color: #e6e6e6;
	float: right;
}

.con-head{
	font-size: 10.16px;

}

.con-data{
	font-size: 8.47px;
}

/*CONTAINER*/

.countries{
	margin: 23px 0 0 71px;
	font-size: 0;
	color: #e6e6e6;
}

.countries li{
	display: inline-block;
	margin: 0 17px 55px 0;
	width: 261px;
	vertical-align: top;
	text-align: center;
	font-size: 15.24px;
	line-height: 10px;
}

.countries img{
	display: block;
}

.ramka{
	margin: -183px 0 0 -5px;
}

.cr{
	margin: -42px 0 31px 0;
	text-align: center;
	font-size: 10.16px;
	color: #e6e6e6;
}